*{
    margin: 0;
    padding: 0;
}

:root{
    --cinza-escuro: #242424;
    --cinza-claro: #474747;
    --branco: #fff;
}
body{
    background-color: var(--cinza-claro);
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color: var(--branco);
    width: 50rem;
    margin: 15px auto;
    box-shadow: 0 0 10px 0;
}
.box-principal{
    padding-top: 1.5rem;
    display: flex;
    background-color: var(--cinza-escuro);
    height: 16rem;
}
.box-left{
    text-align: center;
    padding: 2%;
    width: 15rem;
}
.box-right{
    width: 60%;
}
.foto{
    background-image: url(img/foto_matheus.png);
    background-size: 10rem;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 10rem;
    height: 12rem;
}
.triangulo{
    position: relative;
    background-image: url(img/triangulo.png);
    background-size: 5rem;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 5rem;
    height: 5rem;
    left: -3.5rem;
    top: -4.9rem;
}
.titulo{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}
.titulo{
    background-image: url(img/titulo_dev.png);
    background-size: 12rem;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 16rem;
    height: 4rem;
}
.nome{
    color: var(--branco);
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

@media screen and (max-width: 480px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .box-principal{
        height: 30.5rem;
        display: block;
    }
    .box-left{
        height: 8rem;
        margin: 1rem auto;
    }
    .box-right{
        width: 100%;
        text-align: center;
        margin: 3.5rem auto;
    }
    .titulo{
        background-size: 100%;
        width: 12rem;
    }
    .nome{
        margin-top: -.5rem;
    }
}