*{
    margin: 0;
    padding: 0;
}
:root{
    cursor: default;
    user-select: none;
}
main{
    margin: 1rem 3rem;
    display: flex;
}
main h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}
main p, a, li{
    color: #737373;
}
main p:hover{
    color: #4b4b4b;
}
main a:hover{
    color: #4b4b4b;
}
main li:hover{
    color: #4b4b4b;
}
main h1::before{
    content:"</>";
    margin-right: .3rem;
    font-size: 10px;
    position: relative;
    top: -.15rem;    
}
main h2{
    font-size: 15px;
    text-transform: uppercase;
}
main p{
    font-size: 14px;
}
.box-main-left{
    width: 40%;
}
.box-main-right{
    padding-left: 5%;
    width: 55%;
    border-left: 1px dashed #cccccc;
}
.contato a{
    line-height: 22px;
    text-decoration: none;
    font-size: 15px;
}
.telefone-icon::before{
    background-image: url(img/icon_telefone.png);
    background-size: 1rem;
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    width: 1.4rem;
    height: 1.1rem;
    vertical-align: middle;
}
.email-icon::before{
    background-image: url(img/icon_email.png);
    background-size: 1rem;
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.1rem;
    vertical-align: middle;
}
.local-icon::before{
    background-image: url(img/icon_local.png);
    background-size: .8rem;
    content: "";
    display: inline-block;
    background-repeat:  no-repeat;
    width: 1.4rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-left: .1rem;
}
.formacao h3{
    margin: 10px 0;
}
.formacao li{
    width: 70%;
    margin-left: 20px;
    font-size: 14px;
}
.formacao span{
    margin-top: 5140px;
}
.conhecimentos{
    display: block;
}
.conhecimentos p{
    margin-bottom: 10px;
    display: inline-block;
}
.porcent-html::before{
    background-image: url(img/barra-html.png);
    background-size: 175px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 11rem;
    height: .35rem;
    margin-right: 1rem;
}
.porcent-css::before{
    background-image: url(img/barra-css.png);
    background-size: 175px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 11rem;
    height: .35rem;
    margin-right: 1rem;
}
.porcent-js::before{
    background-image: url(img/barra-javascript.png);
    background-size: 175px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 11rem;
    height: .35rem;
    margin-right: 1rem;
}
.porcent-java::before{
    background-image: url(img/barra-java.png);
    background-size: 175px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 11rem;
    height: .35rem;
    margin-right: 1rem;
}
.ferramentas p{
    margin-bottom: 10px;
}
.descricao p{
    text-align: justify;
    margin-top: 20px;
}
.cert:hover{
    color: #4b4b4b;
}
.certificacao strong{
    user-select: text;
    cursor: auto;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif ;
}
.certificacao img{
    width: 1.2rem;
    vertical-align: middle;
    margin-left: .3rem;
}
.linkedin a{
    text-decoration: none;
}
.linkedin a::before{
    background-image: url('img/icon_linkedin.png');
    background-size: 1.6rem;
    content:"";
    display: inline-block;
    width: 2rem; 
    height: 2rem;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.github{
    margin-bottom: 40px;
}
.github a{
    text-decoration: none;
}
.github a::before{
    background-image: url(img/icon_github.png);
    background-size: 1.6rem;
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.servico1{
    display: flex;
    margin-bottom: 2rem;
}
.servico1 h2{
    margin-bottom: 10px;
}
.servico1 h3{
    font-size: 15px;
}
.servico1-left{
    width: 30%;
}
.servico1-right{
    margin-left: 10%;
    width: 60%;
}
.servico1-right p{
    text-align: justify;
}
.servico2{
    display: flex;
}
.servico2{
    display: flex;
}
.servico2 h2{
    margin-bottom: 10px;
}
.servico2 h3{
    font-size: 15px;
    text-transform: uppercase;
}
.servico2-left{
    width: 30%;
}
.servico2-right{
    margin-left: 10%;
    width: 60%;
}
.servico2-right p{
    text-align: justify;
}
.rodape{
    padding: 1rem;
    background-color: #242424;
}


@media screen and (max-width: 480px){
    main{
        display: block;
    }
    main h1, h2, h3{
        text-align: center;
    }
    main h1::after{
        content:"</>";
        margin-left: .3rem;
        font-size: 10px;
        position: relative;
        top: -.09rem;    
    }
    main p, a{
        font-size: 1rem;
    }
    .box-main-left{
        width: 100%;
    }
    .box-main-right{
        padding: 0;
        width: 100%;
        border: none;
        display: flex;
        flex-direction: column;
    }
    .formacao p{
        text-align: center;
    }
    .formacao li{
        width: 100%;
        margin: 0 10%;
    }
    .conhecimentos{
        text-align: center;
    }
    .conhecimentos img{
        display: block;
        margin: .5rem auto;
        width: 80%;
    }
    .conhecimentos p{
        margin-bottom: 1rem;
        font-size: 20px;
    }
    .ferramentas{
        text-align: center;
    }
    .certificacao p, h2{
        text-align: center;
    }
    .certificacao strong{
        font-size: 13px;
    }
    .linkedin{
        text-align: center;
    }
    .linkedin img{
        display: block;
        margin: .5rem auto;
    }
    .github img{
        display: block;
        margin: .4rem auto;
    }
    .github{
        margin-bottom: 1rem;
        text-align: center;
    }
    .servico1{
        display: block;
    }
    .servico1-left{
        width: 100%;
        text-align: center;
    }
    .servico1-right{
        width: 100%;
        text-align: justify;
        margin: 1rem auto;
    }
    .servico2{
        display: block;
    }
    .servico2-left{
        width: 100%;
        text-align: center;
    }
    .servico2-right{
        width: 100%;
        text-align: justify;
        margin: 1rem auto;
    }
    .descricao{
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        border-top: 1px dashed #cccccc;
        order: 1;
        width: 100%;
    }
}